$body-bg-color: #e0f6fd;
$content-bg-color: #3b3b3b;
$h-font-color: #fccd10;
$h1-text-transform: uppercase;
$text-font: bold 15px "Times New Roman";
$p-color: #ffffff;
$brief-bg-color: #fff178;
$brief-float: none;
$brief-width: 100%;
$brief-display: block;
$brief-margin: 0 0 40px 0;
$link-color: #dec70f;
$th-bg-color: #94a34e;
$td-bg-color: #677d01;
$td-color: #ffffff;
$p-form-color: #dec70f;