$body-bg-color: #dcbb9a;	
$content-bg-color: #ffffff;	
$h-font-color: #893c00;		
$h1-text-transform: none;	
$text-font: normal 16px "Times New Roman";
$p-color: #000000;				
$brief-bg-color: #fadcba;		
$brief-float: left;          	
$brief-width: 45%;				
$brief-display: inline-block;	
$brief-margin: 0 20px 10px 0;	
$link-color: #3d70a1;				
$th-bg-color: #e0e0e0;			
$td-bg-color: #ffffff;			
$td-color: #000000;				
$p-form-color: #777777;		